<div class="container-fluid mt-3">
    <h1>
        Bag of Holding
    </h1>
    <div class="container mt-3">
        <p>
            Select a bag to view
        </p>
        <button (click)="toggleShowTable()" class="button btn-bag">
            Bag1
        </button>
    </div>

    <div class="container mt-5">
        <table *ngIf="showTable" class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Rarity</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Bag of Beans</td>
                    <td>Wonderous</td>
                    <td>Rare</td>
                    <td>1</td>
                    <td>N/A</td>
                    <td>A bag of magic Beans</td>
                </tr>
            </tbody>
        </table>
    </div>