<div class="container-fluid mt-3">
    <h1>
        Bag of Holding
    </h1>
    <div class="container mt-3">
        <p>
            Select a bag to view
        </p>
        <div class="row">
            <div class="col-1">
                <button (click)="toggleShowTable()" class="button btn-bag">
                    <img id="bag1" src="/assets/images/bag-icon.jpg" width="100%">
                    Bag1
                </button>
            </div>
            <div class="col-1">
                <button id="bag2" (click)="toggleShowTable()" class="button btn-bag">
                    <img src="/assets/images/bag-icon.jpg" width="100%">
                    Bag2
                </button>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <table *ngIf="showTable" class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Rarity</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Alchemy Jug</td>
                    <td>Wonderous</td>
                    <td>Uncommon</td>
                    <td>1</td>
                    <td>N/A</td>
                    <td>This ceramic jug appears to hold a gallon of liquid</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Bag of Beans</td>
                    <td>Wonderous</td>
                    <td>Rare</td>
                    <td>1</td>
                    <td>N/A</td>
                    <td>A bag of magic Beans</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Cloak of Protection</td>
                    <td>Wonderous</td>
                    <td>Uncommon</td>
                    <td>1</td>
                    <td>N/A</td>
                    <td>You gain +1 bonus to ac while wearing this cloak</td>
                </tr>
            </tbody>
        </table>
    </div>